<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Edit</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<header>
  		<div class="container">
   			<div class="header-top clearfix">
    			<div class="logo">
     				<a href="/"><img src="/img/logo_attractor.png" height="56" width="154" alt="IT-Attractor"></a>
    			</div>
    			<a href="/login/" class="auth">Логин</a>
    			<a href="/signup/" class="auth">Регистрация</a>
    			<nav class="main__nav">
     				<ul>
      					<li><a href="#">Home</a></li>
      					<li><a href="#">Coming soon</a></li>
      					<li><a href="#">Coming soon</a></li>

     				</ul>
    			</nav>
   			</div><!--/header-top-->
  		</div>
	</header>
    <section>
        <div class="container">
            <div class="login_box">
                <form method="POST" action="/update/" class="login__form" enctype="multipart/form-data">
                    <input type="hidden" value="{{ post.id }}" name="id" class="form__input"/><br/>
                    <input type="text" value="{{ post.title }}" name="title" class="form__input"/><br/>
                    <textarea cols="50" rows="10" id="description" name="description" class="form__input">{{ post.description }}</textarea> <br/>
                    <input type="file" name="picture" class="form__input"/> <br/>
                    <input type="submit" value="Update" class="form__btn" />
                </form>
            </div>
        </div>
    </section>
</body>
</html>