<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Edit</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<header>
  		<div class="container">
   			<div class="header-top clearfix">
    			<div class="logo">
     				<a href="/"><img src="/img/logo_attractor.png" height="56" width="154" alt="IT-Attractor"></a>
    			</div>
    			<a href="/login/" class="auth">Логин</a>
    			<a href="/signup/" class="auth">Регистрация</a>
    			<nav class="main__nav">
     				<ul>
      					<li><a href="#">Home</a></li>
      					<li><a href="#">Coming soon</a></li>
      					<li><a href="#">Coming soon</a></li>

     				</ul>
    			</nav>
   			</div><!--/header-top-->
  		</div>
	</header>
    <section>
        <div class="container">
            <div class="login_box">
                {{ post_edit_render }}
            </div>
        </div>
    </section>
</body>
</html>