<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<header>
  		<div class="container">
   			<div class="header-top clearfix">
    			<div class="logo">
     				<a href="/"><img src="/img/logo_attractor.png" height="56" width="154" alt="IT-Attractor"></a>
    			</div>
    			<a href="/login/" class="auth">Логин</a>
    			<a href="/signup/" class="auth">Регистрация</a>
    			<nav class="main__nav">
     				<ul>
      					<li><a href="#">Home</a></li>
      					<li><a href="#">Coming soon</a></li>
      					<li><a href="#">Coming soon</a></li>

     				</ul>
    			</nav>
   			</div><!--/header-top-->
  		</div>
	</header>
    <section>
        <div class="container">
            <div class="login_box">
                <form action="" class="login__form" method="POST">
                    <label for="" class="form__label">Логин</label>
                    <input name="username" type="text" class="form__input">
                    <label for="" class="form__label">Пароль</label>
                    <input name="password" type="password" class="form__input">
                    <label for="" class="form__label">Email</label>
                    <input name="email" type="email" class="form__input">
                    <label for="" class="form__label">Имя</label>
                    <input name="first_name" type="text" class="form__input">
                    <button type="submit" class="form__btn">Зарегистрироваться</button>

                </form>
            </div>
        </div>
    </section>
</body>
</html>